.list {
  background-color: var(--color-surface-2);
  box-shadow: var(--shadow-2);

  display: grid;
  grid-template-rows: auto minmax(0, 1fr);

  max-block-size: 100%;

  padding-block-end: 1rem;

  border-radius: var(--border-radius-2);
  inline-size: 20rem;
}
