.board-list{
    display: grid;
    gap: 0.5rem;
    background-color: var(--color-surface-2);

    .title{}

    .list{
        >ul{
            display: grid;
            gap: 3rem;

            padding: 1rem;

            list-style: none;

            li{
                background-color: var(--color-surface-3);

                padding: 1rem;

                border-radius: var(--border-radius-2);
            }
        }
    }
}