.board {
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding: 0.5rem 1rem;

    border-radius: var(--border-radius-2);

    background: var(--color-surface-2);

    box-shadow: var(--shadow-2);
    .title {
      font-size: var(--fz-500);
      font-weight: 700;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

    .lists {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));


        background-color: var(--color-surface-2);

        box-shadow: var(--shadow-2);

        border-radius: var(--border-radius-2);

        .list{

        .header {
            .title {
                padding: 1rem 1rem;
                font-size: var(--fz-400);
            }
        }
        .items {
            padding: 0 1rem 1rem 1rem ;
            > ul {
                display: grid;
                gap: 0.5rem;







                list-style: none;

                li {
                    background-color: var(--color-surface-3);

                    box-shadow: var(--shadow-2);

                    padding: 1rem;

                    border-radius: var(--border-radius-2);
                }
            }
        }
    }
}}
