.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  padding: 1rem 1rem 0.5rem;

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }
  .drag-handle {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    cursor: default;
    user-select: none;
  }
}
