.kanban-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding: 0.5rem 1rem;

    border-radius: var(--border-radius-2);

    background: var(--color-surface-2);

    box-shadow: var(--shadow-2);
    p{
        font-size: var(--fz-500);
        font-weight: 700;
    }

    .icons{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}