.app {
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-block-size: 100dvh;

  main {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      margin-block-end: 0.5rem;

      button {
        background: var(--color-primary);
        color: var(--color-primary-contrast);

        padding: 0.5rem 1rem;

        border: none;
        border-radius: var(--border-radius-2);

        text-transform: uppercase;

        transition: 500ms cubic-bezier(0.16, 1, 0.3, 1);
        transition-property: background-color, border-color;

        cursor: pointer;
      }
    }

    .boards {
      list-style: none;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      gap: 1rem;

      > li {
        .board {
          background-color: var(--color-surface-2);
          box-shadow: var(--shadow-2);

          block-size: 100%;

          border-radius: var(--border-radius-2);

          .cover {
            background-color: var(--color-main);

            min-block-size: 2rem;

            border-start-start-radius: inherit;
            border-start-end-radius: inherit;
          }

          .content {
            padding: 1rem;

            .header {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 1rem;

              margin-block-end: 0.5rem;

              .title {
                font-size: var(--fz-500);
                font-weight: 700;
              }
            }

            .description {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;

            }
          }
        }
      }
    }
  }
}
