.app {
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-block-size: 100dvh;

  main {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      margin-block-end: 0.5rem;
    }

    .boards {
      list-style: none;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      gap: 1rem;

      > li {
      }
    }
  }
}
