*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  caret-color: var(--color-primary);
  accent-color: var(--color-primary);

  font-family: "Vazirmatn", system-ui;
}

body {
  background-color: #f5f5f5;

  inline-size: min(75rem, 100% - 2rem);

  margin-inline: auto;

  font-size: var(--fz-400);
}

ul {
  list-style: none;
}

a {
  color: var(--color-primary);

  &:hover {
    color: var(--color-primary-dark);
  }
}
