.ico-button {
    background-color: transparent;
    color: var(--color-gray-900);

    display: inline-flex;
    align-items: center;
    gap: 1ch;

    aspect-ratio: 1 / 1;

    padding: 0.5rem;

    border: none;
    border-radius: 999rem;

    transition: 500ms cubic-bezier(0.16, 1, 0.3, 1);
    transition-property: background-color, border-color;

    cursor: pointer;

    &:hover {
        background-color: var(--color-gray-400);

        transition-duration: 250ms;
    }
}